ul{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    max-width: 1300px;
}
li{
    padding: 40px;
    border: 2px solid rgb(30,134,255);
    margin-right: 5px;
    border-radius: 10px;
    cursor: pointer;
}
li:hover{
    background-color: rgb(30,134,255);
    color: white;
}
li:active{
    opacity: 0.7;
}
